html
    title BullitInProject
    a(href='/end') go to board
    body
        form(method="post" action="/")
            input(placeholder="titel" type="text" name="title")
            input(placeholder="je bericht" type="text" name="body")
            input(type="submit" value="Verzend hier je bericht")